/* Start of the common part of the pages */

@font-face {
  font-family: "NunitoSans";
  src: url('./assets/fonts/NunitoSans-Regular.woff');
  src: url('./assets/fonts/NunitoSans-Regular.ttf') format('truetype'), url('./assets/fonts/NunitoSans-Regular.otf') format('opentype');

}


.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.Appbody {
  background-color: #fff;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-footer {
  background-color: #000;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

#social-networks {
  display: flex;
}

.social-networks_footer {
  display: grid;
  width: 60px;
  height: 50px;
  object-fit: fill;
  margin: auto;
  justify-self: center;
  filter: invert(0.8) sepia(1) saturate(40) hue-rotate(180deg);
}

.social-networks_footer:hover {
  filter: invert(0.8) sepia(1) saturate(1) hue-rotate(180deg);
}

.social-networks_image {
  width: 60%;
  justify-self: center;
  align-self: center;
}

strong {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
  font-size: x-large;
  color: #fff;
}

a {
  font-family: "NunitoSans", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  font-size: large;
  text-align: center;
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
}

#mail-to {
  font-family: "NunitoSans", sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  font-size: smaller;
  margin-top: -6px;
}

h1 {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
  color: #fff;
}

h3 {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
  padding-bottom: 16px;
  border-bottom: 2px solid #0d6efd;
  margin-bottom: 20px;
  width: 100%;
  justify-self: center;
  text-align: center;
}

p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: smaller;
}

#footer-1 p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: smaller;
}

hr {
  width: 40%;
  justify-self: center;
  color: #0d6efd;
  border: 3px solid;
  opacity: 1;
  margin-bottom: 50px;
}

legend {
  width: auto;
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}


#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {

  margin-left: 20px;
  color: #fff;
  font-size: larger;
  text-decoration: none;
}

#with-burger-menu {
  width: 40px;
  height: 40px;
  align-self: self-end;
  margin-right: 10px;
  margin-top: 0px;
}

#no-burger-menu {
  width: max-content;
  height: 50px;
  align-self: self-end;
  align-content: center;
  margin-right: 6px;

}

.bm-burger-button {
  width: 40px;
  height: 40px;
  background-image: url("./assets/images/list.svg");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert();
  position: relative;
}

.bm-overlay {
  top: 0;
  margin-top: 56px;
  margin-bottom: 56px;
  filter: invert();
  background: rgba(0, 0, 0, 0.3);
}

.bm-item-list {
  height: 80%;
}

.bm-menu {
  background-color: #000000b7;
  width: 100%;
}

.bm-menu-wrap {
  margin-right: -4px;
  top: 56px;
}

#main {
  justify-items: center;
  width: 100%;
  height: 100%;
}

#image_banner {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-bottom: 20px;
  margin-top: -10px;
}

/* End of the common part of the pages */

/* Start of responsive design */

/* Start of mobile design */
@media only screen and (max-width : 767px) {
  #no-burger-menu {
    display: none;
  }

  #with-burger-menu {
    display: block;
  }

  .active {
    text-decoration: underline;
    font-weight: bold;
    color: #0051ff;
  }

  #modale {
    height: 90%;
    width: 80%;
  }

  #modale_grid {
    display: grid;
    height: 76%;
    width: 90%;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
  }

  #modale_grid-part1 {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  #modale_grid-part2 {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    padding-left: 0px;
  }

  .modale_boxes {
    font-size: x-small;

  }

  .App-footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
  }

  #footer-1 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-top: 10px;

  }

  #footer-2 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
  }

  #footer-3 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 3;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-bottom: 20px;
  }

  #home_part-2 {
    grid-template-columns: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-rows: repeat(2, max-content);
  }

  #home_part-2_subpart-1 {
    grid-column: 1;
    grid-row: 1;
  }

  #home_part-2_subpart-2 {
    grid-column: 1;
    grid-row: 2;
  }

  #services-grid {
    grid-template-columns: minmax(100px, auto);
    grid-template-rows: repeat(3, max-content);
  }

  #services_card-1 {
    grid-column: 1;
    grid-row: 1;
  }

  #services_card-2 {
    grid-column: 1;
    grid-row: 2;
  }

  #services_card-3 {
    grid-column: 1;
    grid-row: 3;
  }

  #achievements-grid {
    grid-template-columns: minmax(100px, auto);
    grid-template-rows: repeat(6, max-content);
  }

  #achievements_card-1 {
    grid-column: 1;
    grid-row: 1;
  }

  #achievements_card-2 {
    grid-column: 1;
    grid-row: 2;
  }

  #achievements_card-3 {
    grid-column: 1;
    grid-row: 3;
  }

  #achievements_card-4 {
    grid-column: 1;
    grid-row: 4;
  }

  #achievements_card-5 {
    grid-column: 1;
    grid-row: 5;
  }

  #achievements_card-6 {
    grid-column: 1;
    grid-row: 6;
  }

  #contact-grid {
    grid-template-columns: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-rows: repeat(2, max-content);
  }

  #contact_part-1 {
    grid-column: 1;
    grid-row: 1;
  }

  #contact_part-2 {
    grid-column: 1;
    grid-row: 2;
  }
}

/* End of mobile design */

/* Start of tablet design */
@media only screen and (min-width : 768px) and (max-width : 1223px) {
  #no-burger-menu {
    display: none;
  }

  #with-burger-menu {
    display: block;
  }

  .active {
    text-decoration: underline;
    font-weight: bold;
    color: #0051ff;
  }

  #modale {
    height: 70%;
    width: 70%;
  }

  .App-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    gap: 30px;
  }

  #footer-1 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #footer-2 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-bottom: 20px;
  }

  #footer-3 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-bottom: 20px;
  }
}

/* End of tablet design */

/* Start of desktop design */
@media only screen and (min-width : 1224px) {
  #with-burger-menu {
    display: none;
  }

  #no-burger-menu {
    display: block;
  }

  .active {
    text-decoration: underline;
    font-weight: bold;
    color: #0051ff;
  }

  .App-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    gap: 30px;
  }

  #footer-1 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #footer-2 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-bottom: 20px;
  }

  #footer-3 {
    display: inline-grid;
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: initial;
    padding-bottom: 20px;
  }
}

/* End of desktop design */
/* End of Responsive Design */