@font-face {
  font-family: "NunitoSans";
  src: url('./assets/fonts/NunitoSans-Regular.woff');
  src: url('./assets/fonts/NunitoSans-Regular.ttf') format('truetype'), url('./assets/fonts/NunitoSans-Regular.otf') format('opentype');

}

.App {
  text-align: center;
}

.App-header {
  background-color: #00ff4c;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-body {
  background-color: #ffffff;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-footer {
  background-color: #0256fd;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

a {
  color: #0387ac;
  text-decoration: none;
}

a:hover {
  color: #00c2f8;
  text-decoration: underline;
}

h1 {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
}

p {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
}

strong {
  font-family: "NunitoSans", sans-serif;
  font-weight: 600;
}